body {
  margin: 5px;
  background-color: #9FC5D5;
  font-family: Times, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 5px;
  background-color: #50514F;
  color: #CBD4C2;
  padding: 20px;
  text-align: center;
}

.bio{padding-left: 40px; border: 1px gray; background-color: #F4F4EF}