body {
  margin: 5px;
  background-color: #CBD4C2;
  font-family: Times, sans-serif;
  font-size: 16px;
  color: #E8E6E8;
}

h2 {
  text-align: center;
  background-color: #50514F;
  margin-top: 5px;
  padding: 20px;
}

h4 {
  color: #CBD4C2;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
}
