body {
  margin: 25px;
  background-color: #CBD4C2;
  font-family: Times, sans-serif;
  font-size: 14px;
}


h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  color: #50514F;

}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  background-color: #50514F;
  color: #CBD4C2;
  padding: 50px;
  text-align: center;
}


